.link {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Overpass Variable', sans-serif;
  text-decoration: none;
  padding: 5px 30px;
  border-radius: 10px;
  border: 1px solid #fff;
  text-transform: uppercase;
  transition: all 0.3s ease;
  &:hover {
    background-color: #fff;
    color: #111;
  }
}
