.container {
  display: flex;
  height: 100vh;
  background: #1e1e1e;
  overflow: hidden;
  user-select: none;
}

.input {
  width: 70%;
  overflow: hidden;
  min-width: 300px;
}

.editor {
  padding: 20px;
}
