.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  flex-direction: column;
  gap: 15px;
}

.title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Overpass Variable', sans-serif;
}
